
#gameboard {
	background-color: yellow;
	margin: 10px 200px;
	width: 75%;

}

#top-container {
	text-align: center;
}

#player1-score {
	display: inline-block;
}

#player2-score {
	display: inline-block;
}










.player1 {
	background-color: green;
	border-color: green;
}

.player2 {
	background-color: red;
	background-color: red;
}
.box-complete1  {
	background-color: red;
}

.box-complete2 {
	background-color: red;
}
