
#gameboard {
	background-color: yellow;
	margin: 10px 200px;
	width: 75%;

}

#top-container {
	text-align: center;
	padding-top: 10px;
}

#player1-score {
	display: inline-block;
}

#player2-score {
	display: inline-block;
}

#game-grid {
    padding-bottom: 50px;
}

div.table {
  width: 600px;
  height: 500px;
  border-collapse: collapse;
  border-color: black;
  margin-left: 240px;
}

.divTable.table .divTableCell, .divTable.table .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 4px 1px;
}

.divTable{ 
	display: table; 
}
.divTableRow { 
	display: table-row; 
}

.divTableCell, .divTableHead { 
	display: table-cell;
}
.divTableBody { 
	display: table-row-group;
}

.h-line {
	height: 0.01em;

}

.v-line {
	width: 25px
}


.player1 {
	background-color: green;
	border-color: green;
}

.player2 {
	background-color: red;
	background-color: red;
}
.box-complete1  {
	background-color: red;
	border-color: red;
}

.box-complete2 {
	background-color: green;
	border-color: green;
}
